{% load static %}
{% include "common/header.html" %}  
<!DOCTYPE html>
<html>
<body class="layout-default">
	
	
	<section class="section columns">
		<div class="column"></div>
		<div class="panel panel-block column">
			<form action="" enctype="multipart/form-data" id="form_taskUpdate" method="POST">
				{% csrf_token %}
				
				{% if form.errors %}
				<div id="error_taskUpdate" class="section hero is-danger is-centered has-text-centered">
					<label class="label subtitle is-4 is-white">Registry Fail! Errors: </label>
					<p class="is-4 is-white">{{form.errors}} </p>
					<p class="is-4 is-white">{{profileForm.errors}} </p>
				</div>
				{% endif %}

				<div class="subtitle">Update Task</div>
				<p>* fields are mandatory</p>

				
				<div class='field requiredFormField'>
					<label class='label has-tooltip-arrow' data-tooltip='A unique identifier for the task.'>Task Id*</label>
					{{form.taskId}}
				</div>
				
				<div class='field'>
					<label class='label has-tooltip-arrow' data-tooltip='The description for what the task is about.'>Description</label>
					{{form.description}}
				</div>

				<div class='field'>
					<label class='label has-tooltip-arrow' data-tooltip='Files appended to the task, to be distributed to students.'>Files</label>
					{{form.files}}
				</div>
				
				<div class='field requiredFormField'>
					<label class='label has-tooltip-arrow' data-tooltip='This indicates the time span in which the task is available.'>Schedule*</label>
					<div class='columns is-mobile is-centered control'>
						<div class='column is-mobile is-centered is-one-forth'>From</div>
						<div class='column is-mobile is-centered is-one-forth'>
							{{form.init_date }}
						</div>
						<div class='column is-mobile is-centered is-one-forth'>to</div>
						<div class='column is-mobile is-centered is-one-forth'>
							{{form.final_date }}
						</div>
					</div>
				</div>
				
				<hr></hr>
				<div class='field requiredFormField'>
					<label class='label has-tooltip-arrow' data-tooltip='This represents what the system will value when selecting the task for a given group.'>The value of the task is obtained by its:*</label>
					<div class='columns is-mobile is-centered control'>
						Interaction profile&ensp;<input name='profile_w' class='slider' type='range' value='{{form.profile_w.value}}' min='0.0' max='1.0' step='0.1'> &ensp;Difficulty
					</div>
				</div>
				
				<hr></hr>
				<div class='field requiredFormField'>
					<label class='label has-tooltip-arrow' data-tooltip='This indicates if the task approaches easier or advanced material.'>Difficulty*</label>
					<div class='columns is-mobile is-centered control'>
						Easy&ensp;<input name='difficulty' class='slider' type='range' value='{{form.min_req_ability.value}}' min='0.0' max='1.0' step='0.1'>&ensp;Hard
					</div>
				</div>

				<hr></hr>
				<label class='label has-tooltip-arrow' data-tooltip='This indicates if the task provides an easier/ harder route for its completion, or if it leads players to focus on themselves/others.'>Interaction Profile (Nature of the task, see below)*</label>
				
				<div class='field requiredFormField'>
					<div class='columns is-mobile is-centered control'>
						<div style="transform:scale(1) translateX(0%);">
							<div id="interactionsProfilePlot_task_registration"></div>
						</div>
						<!-- <img src='{% static "/media/images/interactionSpaceScheme.png" %}' alt='intProfileScheme' style='width:50%;'> -->
					</div> 
				</div>

				<div class='field requiredFormField'>
					<div class='columns is-mobile is-centered control'>
						&ensp;<input id='profileDim0Input' name='profile_dim_0' class='slider' type='range' value='0' min='0.0' max='1.0' step='0.1'>&ensp;
					</div>
				</div>
				<div class='field requiredFormField'>
					<div class='columns is-mobile is-centered control'>
						&ensp;<input id='profileDim1Input' name='profile_dim_1' class='slider' type='range' value='0' min='0.0' max='1.0' step='0.1'>&ensp;
					</div>
				</div>
				

				<br></br>
				<div class='control'>
					<input type='submit' class='button is-info' value='Update Task' id='submitButton_taskRegistration'>
				</div>
				
			</form>
		</div>
		<div class="column"></div>		
	</section>

</body>
<script
src="https://code.jquery.com/jquery-3.2.1.min.js"
integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
{% include 'common/general.html' %}
<script src='https://d3js.org/d3.v5.js' crossorigin='anonymous'></script>
<script src='{% static 'js/plots.js' %}'></script>
<script>
	$(document).ready(function(){
		$('#error_taskUpdate').hide();
		$('#error_taskUpdate').show(500);
		setTimeout(function(){ $('#error_taskUpdate').hide(500); }, 5000);
		
		var taskProfile = JSON.parse("{{form.profile.value}}".replaceAll('&quot;','\"'));
		$('#profileDim0Input').val(taskProfile.dimensions["Challenge"]);
		$('#profileDim1Input').val(taskProfile.dimensions["Focus"]);

		var interactionDatapoint = [{ 
			"ID": 0, 
			"focus": taskProfile.dimensions["Focus"]*6.0-3.0, 
			"challenge": -taskProfile.dimensions["Challenge"]*6.0+3.0, 
			"timestamp": 1 
		}];

		var mouseClickCallback = function(focus, challenge) {
			$('#profileDim0Input').val(challenge);
			$('#profileDim1Input').val(focus);
		};
		buildScatterInteractionPlot('interactionsProfilePlot_task_registration', interactionDatapoint, mouseClickCallback, 350, 350);
		$('#profileDim0Input').hide();
		$('#profileDim1Input').hide();
		
	});
</script>
<script src="{% static "js/formFunctionalities.js" %}"></script>
</html>
